body { margin:0; padding:0; }
header {height:130px;}

#map { position:absolute; top:130px; bottom:0; width:100%; }

#controls{
  margin-top:10px;
  max-height:80px;
}
    
/* D3 Timeline */
.axis {
  font: 10px sans-serif;
}

.label {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.brush .extent {
  stroke: #fff;
  stroke-opacity: .6;
  stroke-width: 2px;
  fill-opacity: .1;
  shape-rendering: crispEdges;
}